In [1]:
import pathlib
import numpy as np
import pandas as pd
import tensorflow as tf
import keras
import os

Using TensorFlow backend.

In [2]:
path = keras.utils.get_file("covtype.data.gz", "https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz")
path

Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz
11247616/11240707 [==============================] - 1s 0us/step

'/root/.keras/datasets/covtype.data.gz'

In [6]:
dataset = pd.read_csv(path, header=None,
                      na_values = "?", comment='\t',
                      sep=",", skipinitialspace=True)
dataset.head(5)

     0    1   2    3    4     5    6    7   ...  47  48  49  50  51  52  53  54
0  2596   51   3  258    0   510  221  232  ...   0   0   0   0   0   0   0   5
1  2590   56   2  212   -6   390  220  235  ...   0   0   0   0   0   0   0   5
2  2804  139   9  268   65  3180  234  238  ...   0   0   0   0   0   0   0   2
3  2785  155  18  242  118  3090  238  238  ...   0   0   0   0   0   0   0   2
4  2595   45   2  153   -1   391  220  234  ...   0   0   0   0   0   0   0   5

[5 rows x 55 columns]

In [0]:
y=dataset.pop(54)
X=dataset[[0,1,2,3,4,5,6,7,8,9]]

In [8]:
train_normalize= X.describe()
train_normalize = train_normalize.transpose()
normalize_train_data = (X - train_normalize['mean']) / train_normalize['std']
normalize_train_data

               0         1         2  ...         7         8         9
0      -1.297804 -0.935156 -1.482819  ...  0.439143  0.142960  3.246280
1      -1.319234 -0.890479 -1.616361  ...  0.590898  0.221341  3.205501
2      -0.554906 -0.148836 -0.681562  ...  0.742653 -0.196691  3.126963
3      -0.622767 -0.005869  0.520322  ...  0.742653 -0.536343  3.194928
4      -1.301376 -0.988769 -1.616361  ...  0.540313  0.195214  3.165476
...          ...       ...       ...  ...       ...       ...       ...
581007 -2.012129 -0.023740  0.787407  ...  0.692068 -0.640851 -0.863386
581008 -2.029987 -0.032675  0.653865  ...  0.692068 -0.614724 -0.857344
581009 -2.047845  0.029873  0.386779  ...  0.894408 -0.327326 -0.850548
581010 -2.054988  0.128163  0.119694  ...  1.096748  0.012325 -0.842996
581011 -2.058560  0.083486 -0.147392  ...  1.046163 -0.039929 -0.834689

[581012 rows x 10 columns]

In [0]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(50, activation='relu', input_shape=[len(X.keys())]),
    tf.keras.layers.Dense(8,activation="softmax")
  ])

In [0]:
model.compile(loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
                optimizer='adam',
                metrics=['accuracy'])

In [11]:
model.fit(normalize_train_data,y,epochs=10,validation_split=0.1)

Epoch 1/10
16341/16341 [==============================] - 21s 1ms/step - loss: 1.6075 - accuracy: 0.6687 - val_loss: 1.6682 - val_accuracy: 0.6063
Epoch 2/10
16341/16341 [==============================] - 21s 1ms/step - loss: 1.5952 - accuracy: 0.6792 - val_loss: 1.6731 - val_accuracy: 0.6018
Epoch 3/10
16341/16341 [==============================] - 21s 1ms/step - loss: 1.5911 - accuracy: 0.6835 - val_loss: 1.6759 - val_accuracy: 0.5977
Epoch 4/10
16341/16341 [==============================] - 21s 1ms/step - loss: 1.5878 - accuracy: 0.6871 - val_loss: 1.6767 - val_accuracy: 0.5968
Epoch 5/10
16341/16341 [==============================] - 21s 1ms/step - loss: 1.5853 - accuracy: 0.6897 - val_loss: 1.6707 - val_accuracy: 0.6040
Epoch 6/10
16341/16341 [==============================] - 21s 1ms/step - loss: 1.5830 - accuracy: 0.6921 - val_loss: 1.6791 - val_accuracy: 0.5937
Epoch 7/10
16341/16341 [==============================] - 21s 1ms/step - loss: 1.5814 - accuracy: 0.6938 - val_loss: 1.6774 - val_accuracy: 0.5946
Epoch 8/10
16341/16341 [==============================] - 22s 1ms/step - loss: 1.5801 - accuracy: 0.6949 - val_loss: 1.6752 - val_accuracy: 0.5974
Epoch 9/10
16341/16341 [==============================] - 22s 1ms/step - loss: 1.5788 - accuracy: 0.6965 - val_loss: 1.6798 - val_accuracy: 0.5930
Epoch 10/10
16341/16341 [==============================] - 21s 1ms/step - loss: 1.5779 - accuracy: 0.6972 - val_loss: 1.6783 - val_accuracy: 0.5951

In [12]:
model.save('saved_model/my_model')

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:1817: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: saved_model/my_model/assets

In [13]:
new_model = tf.keras.models.load_model('saved_model/my_model')
new_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 50)                550
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 408
=================================================================
Total params: 958
Trainable params: 958
Non-trainable params: 0
_________________________________________________________________